#stake-view {
  overflow-y: hidden;
  overflow-x: hidden;
  height: 100vh;
  // width: 100%;
  margin-top: 8rem;
  // min-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow-y: auto;
  background: white;
  -ms-overflow-style: none !important; /* IE and Edge */
  scrollbar-width: none !important; /* Firefox */
  &::-webkit-scrollbar {
    display: none !important;
  }

  .ohm-card {
    max-width: unset !important;
    // width: 100%;
    background-color: #e8e8e8 !important;
    // margin: 20px;
    padding: 10px;
    .card-header {
      margin-bottom: 1rem;
    }
    &.ohm-chart-card {
      .chart-card-header {
        padding: 0px 20px !important;
        min-width: 300px;
      }
      height: 355px;
    }
  }
  .hero-metrics {
    width: 100%;
    margin-bottom: 23px;
    text-align: center;
    .ohm-card {
      max-width: unset !important;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;
      h5 {
        font-weight: bold;
      }
    }
  }
  .data-grid {
    overflow: hidden;
    display: flex;
    justify-content: center;
  }

  .buy-pannel {
    background-image: url("/assets/images/img_buy_dlg_backgournd.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    // height: 100%;
    min-width: 450px;
    min-height: 450px;
    margin-top: 70px;
    position: relative;

    .title1 {
      padding-top: 60px;
      font-size: 2rem;
      font-style: italic;
      font-weight: 900;
      font-family: fangsong;
    }

    .sub-title {
      margin-top: 15px;
    }

    .sub-title-content {
      margin-top: 10px;
      color: yellow;
    }

    .button-group {
      margin-top: 60px;
      color: yellow;
      .left-button {
        padding: 0px;
        padding-left: 20px;
        margin-left: 20px;
        width: 100%;
      }

      .right-button {
        padding-right: 20px;
        margin-left: -15px;
        width: 100%;
      }
    }

    .nft-item-description-title {
      padding-left: 105px;
      @media (max-width: 1100px) {
        padding-left: 70px;
      }
    }

    .nft-item-description-value {
      padding-right: 105px;
      @media (max-width: 1100px) {
        padding-right: 70px;
      }
    }
  }

  .nft-list-pannel {
    margin-top: 50px;

    .nft-item {
      background-image: url("/assets/images/nft_item_background.webp");
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      height: 470px;
      width: 320px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      @media (max-width: 1100px) {
        width: 310px;
      }

      @media (max-width: 1200px) {
        width: 300px;
      }

      /* position: relative; */
      .nft-list-item-image {
        width: 270px;
        display: flex;
        min-height: 100px;
        margin-bottom: 10px;
        //background-size: contain;

        // @media (max-width: 1000px) {
        //   width: 90%;
        // }
      }

      .nft-item-description-title {
        padding-left: 25px;
      }

      .nft-item-description-value {
        padding-right: 25px;
      }
    }

    .MuiTypography-h6 {
      line-height: 1.1;
      font-size: 0.9rem;
    }
  }

  .pool-card-container {
    .pool-card {
      border-color: aliceblue;
      border-radius: 15px;
      padding: 10px;
      margin: 10px;
      border-style: outset;

      .pool-button-container {
        display: flex;
        justify-content: center;
      }
      .pool-button {
        width: 80%;
        padding: 3px;
        margin: 3px;
        font-size: 0.8rem;
      }
    }
  }

  .token-list-container {
    .pool-card {
      border-color: aliceblue;
      border-radius: 15px;
      padding: 10px;
      margin: 10px;
      border-style: outset;
      
      .stake-button-container {
        display: flex;
        justify-content: center;
        width: 100%;
      }
      .stake-button {
        background: black;
        width: 100%;
        padding: 10px;
        margin: 10px;
        font-size: 0.8rem;
      }
    }
  }

  
}

.smaller {
  .ohm-card {
    width: 100%;
  }
  .hero-metrics .ohm-card {
    > .MuiBox-root {
      flex-direction: column;
      align-items: flex-start;
      flex-wrap: wrap;
    }
    div.metric {
      text-align: left !important;
    }
  }
}

.mobile {
  div.metric {
    white-space: nowrap;
    min-width: 30% !important;
    max-width: 60%;
    text-align: left !important;
    &.market,
    &.price,
    &.wsoprice,
    &.circ,
    &.bpo,
    &.index {
      flex-direction: column;
      align-items: flex-start;
    }
  }
}

.very-small {
  .hero-metrics .ohm-card {
    > .MuiBox-root {
      flex-direction: column;
      justify-content: center;
    }
  }
}

.staking-button {
  background-color: #f504d5 !important;
  width: 70%;
}

.stake-button-container {
  display: flex;
  justify-content: center;
  margin-top: 25px;
  padding: 5px;
}

.card-title {
  color: #f504d5;
  font-size: 38px;
  font-weight: lighter;
  padding-top: 15px;
  display: flex;
  justify-content: center;
}

.card-title2 {
  margin-top: 20px;
  margin-bottom: 20px;
  color: black;
  font-size: 20px;
  font-weight: lighter;
  display: flex;
  justify-content: center;
}